@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
/*font-family: "Single Day", cursive;*/

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*common*/
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper_header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contents_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  color: hotpink;
  font: 600 13px/1 "arial";
}
.subtitle {
  font-size: 14px;
  padding-bottom: 2px;
}

.divideLine {
  width: 100%;
  border-top: 1px solid gray;
  margin: 4px 0;
}

.contents_body {
  color: #999;
}
.wrapper_body {
  width: 100%;
  height: 270px;
}
.video {
  width: 100%;
  height: 240px;
  background: url(./contents/b38dff62c3a26778e017dca89bfc4b7e.gif) center/cover
    no-repeat;
  margin-top: 10px;
}
