/* .parent {
  border: 5px solid green;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parent div {
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  margin: 5px;
}
.chlid1 {
  background: mediumvioletred;
}
.chlid2 {
  background: skyblue;
}
.chlid3 {
  background: blueviolet;
} */
.parent {
  border: 5px solid greenyellow;
  display: flex;
  flex-flow: row wrap;
}
.parent div {
  width: 200px;
  height: 200px;
  margin: 5px;
  color: #fff;
  text-align: center;
  background: pink;
}
