.parent {
  border: 5px solid steelblue;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.parent div {
  height: 100px;
  width: 100px;
  margin: 5px;
  color: #000;
  background: salmon;
}
