.heading {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  span {
    color: aquamarine;
  }
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: pink;
  }
}
