* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slide-wrapper {
  width: 660px;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.slides.animated {
  transition: all 0.5s ease-out;
}
.slides li {
  float: left;
  width: 200px;
  height: 200px;
  background: #ffe3e3;
}

.slides li:not(:last-child) {
  margin-right: 30px;
}

.controls {
  margin-top: 50px;
  text-align: center;
}
.controls span {
  background: hotpink;
  color: #fff;
  margin: 0 10px;
  padding: 10px 20px;
}
