body {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h3 {
  font-size: 80px;
  font-weight: normal;
}
.figma {
  width: 300px;
  display: grid;
  grid-template-columns: auto auto;
  .logo {
    width: 150px;
    height: 150px;
    background: #000;
    &:nth-child(1) {
      border-radius: 150px 0 0 150px;
      background: rgb(242, 64, 44);
    }
    &:nth-child(2) {
      border-radius: 0 150px 150px 0;
      background: rgb(255, 145, 133);
    }
    &:nth-child(3) {
      border-radius: 150px 0 0 150px;
      background: rgb(172, 55, 190);
    }
    &:nth-child(4) {
      border-radius: 150px;
      background: rgb(70, 184, 255);
    }
    &:nth-child(5) {
      border-radius: 150px 0 150px 150px;
      background: rgb(0, 151, 48);
    }
  }
}
