@import url("./reset.css");

@font-face {
  font-family: "beamin";
  src: url("./font/Pretendard-Regular.ttf");
}
body {
  background-color: #f6f6f6;
}
header {
  position: relative;
  width: 390px;
  height: 55px;
  background: #5fbebc;
}
#main_header .left {
  position: absolute;
  left: 20px;
  bottom: 0;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}
#main_header i {
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  color: #fff;
}
/* #menu {
  display: none;
}
#menu > #menu_img {
  display: none;
}
#menu:checked > #menu_img {
  display: block;
} */

#main_header .left {
  left: 20px;
  bottom: 10px;
  position: absolute;
}
#main_header .right {
  right: 20px;
  bottom: 10px;
  position: absolute;
}
#top_gnb {
  padding: 10px;
  background: #5fbebc;
  border-radius: 0 0 20px 20px;
}

.header_box {
  background: #5fbebc;
  width: 100%;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

#header_top {
  margin: 5px 0 5px;
  padding: 12px;
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  font-size: 16px;
  color: #fff;
}
/*inner items*/
#inner_items {
  margin: 10px;
  display: flex;
  font-size: 14px;
}
.inner_item {
  height: 40px;
  margin: 5px;
  font-family: beamin;
  display: flex;
  border: 1px solid #5fbebc;
  background: #fff;
  gap: 10px;
  padding: 10px;
  border-radius: 40px;
}
.fa-solid {
  color: #5fbebc;
}
.inner_item_info {
  font-weight: bold;
  font-size: 14px;
}
#inner_content_first {
  width: 360px;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-right: 15px;
  gap: 10px;
  display: flex;
}
.first_left {
  box-shadow: 2px 2px 2px 1px #dbdbdb;
}
.first_right {
  box-shadow: 2px 2px 2px 2px #dbdbdb;
}
#inner_content_second {
  width: 360px;
  margin: 0 auto;
}
.second_left {
  box-shadow: 2px 2px 2px 1px #dbdbdb;
}
.second_right {
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px #dbdbdb;
}

#inner_content_thrid {
  width: 360px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  gap: 10px;
  display: flex;
}
.thrid_left {
  box-shadow: 2px 2px 2px 1px #dbdbdb;
}
.thrid_right {
  box-shadow: 2px 2px 2px 2px #dbdbdb;
}
#inner_content_last {
  width: 360px;
  margin: 0 auto;
}
