@import url("./reset.css");
body {
  width: 490px;
}
/*header*/
#main_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #000;
}
#main_header_left {
  line-height: 40px;
}
#main_header_right {
  line-height: 40px;
}

#main_header_left .icon {
  padding: 0 5px;
}
#main_header_left img {
  align-items: center;
}
#main_gnb {
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #000;
  font-size: 14px;
}
#main_gnb span {
  display: block;
  float: left;
  padding: 0 25px 10px 10px;
  line-height: 30px;
}
#main_gnb span:first-child {
  display: block;
  float: left;
  padding: 0 25px 10px 10px;
  line-height: 30px;
  color: #00f;
  border-bottom: 3px solid #00f;
}
